<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TestTemplate</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--First element-->
<ngbd-dropdown-navbar></ngbd-dropdown-navbar>
<!--Second element-->
<search-form></search-form>
<!--Third element-->
<table>  
  <tr>
    <td style="width: 80px;"></td>
    <td>
      <app-categories-menu></app-categories-menu>
    </td>
    <td style="width: 80px;"></td>

    <td>
      <ngbd-carousel-basic></ngbd-carousel-basic>
    </td>
    <td style="width: 80px;"></td>

    <td >
      <app-header-ads></app-header-ads>
    </td>
    <td style="width: 80px;"></td>
  </tr>
  </table>


</body>
</html>
