<nav class="vertical">
  <ul>

    <li><a href="#">Books +</a>
      <ul>
        <li><a href="#">Literature</a></li>
        <li><a href="#">Families and Relationship</a></li>
        <li><a href="#">Fantasy</a></li>
        <li><a href="#">Children</a></li>
        <li><a href="#">Classics</a></li>
        <li><a href="#">Crime</a></li>
        <li><a href="#">Short stories</a></li>
        <li><a href="#">Young Adults</a></li>
        <li><a href="#">Romance</a></li>
        <li><a href="#">Science fiction</a></li>
        <li><a href="#">General</a></li>
        <li><a href="#">Others</a></li>
      </ul>   
  </li>

    <li>
      <a href="#">Accessories +</a>
        <ul>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Jewellery</a></li>
          <li><a href="#">Eyewear</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Headwear</a></li>
          <li><a href="#">Wallets</a></li>
          <li><a href="#">Cufflinks</a></li>
          <li><a href="#">Gloves</a></li>
          <li><a href="#">Watches</a></li>
          <li><a href="#">Gift set</a></li>
        </ul>
    </li>

    <li><a href="#">Apparel +</a>
      <ul>
        <li><a href="#">Scarves</a></li>
        <li><a href="#">Innerwear</a></li>
        <li><a href="#">Bottomwear</a></li>
        <li><a href="#">Topwear</a></li>
        <li><a href="#">Apparel set</a></li>
        <li><a href="#">Dress</a></li>
        <li><a href="#">Ties</a></li>
        <li><a href="#">Stoles</a></li>
        <li><a href="#">Loungewear and nightwear</a></li>
        <li><a href="#">Saree</a></li>
          </ul>
        </li>

        <li><a href="#">Footwear +</a>
          <ul>
             <li><a href="#">Socks</a></li>
             <li><a href="#">Shoes</a></li>
             <li><a href="#">Flip flops</a></li>
             <li><a href="#">Sandals</a></li>
             <li><a href="#">Shoes accesoiries</a></li>
          </ul>
        </li>

        <li><a href="#">Personnal Care +</a>
          <ul>
             <li><a href="#">Fragrance</a></li>
             <li><a href="#">Lips</a></li>
             <li><a href="#">Eyes</a></li>
             <li><a href="#">Hair</a></li>
             <li><a href="#">makeup</a></li>
             <li><a href="#">Bath and body</a></li>
             <li><a href="#">Skin Care</a></li>
             <li><a href="#">Nails</a></li>
         </ul>
        </li>

        <li><a href="#">Sporting Goods +</a>
          <ul>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Headwear</a></li>
            <li><a href="#">Water Bottle</a></li>
            <li><a href="#">Eyewear</a></li>
            <li><a href="#">Watches</a></li>
            <li><a href="#">Sports equipement</a></li>

          </ul>
        </li>

        <li><a href="#">Phones +</a>
          <ul>
            <li><a href="#">Android</a></li>
            <li><a href="#">Honor</a></li>
            <li><a href="#">Vivo</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Oppo</a></li>
            <li><a href="#">Redmi</a></li>
            <li><a href="#">Nokia</a></li>
            <li><a href="#">Oneplus</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">Huawei</a></li>
          </ul>
        </li>

       



  </ul>
</nav>